DirectoryIndex index.php
RewriteEngine On

SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^ index.php [L]

RewriteRule !^(public/|index\.php) [NC,F]